<h2>Register</h2>

<form (ngSubmit)="registerForm()">  
  <div *ngIf="sucessfullMessage">User has been created. Please login into now</div>
  <div>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" [formControl]="firstNameControl" required>
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" [formControl]="lastNameControl" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" [formControl]="emailControl" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" [formControl]="passwordControl" required>
  </div>
  
  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" [formControl]="confirmPasswordControl" required>
  </div>
  <button type="submit">Register</button>
</form>

<router-outlet></router-outlet>

<nav>
    <a [routerLink]="['/welcome']" routerLinkActive="active">Go back</a>
</nav>
